* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

footer {
    background-color: #0146a2;
    color: #ffffff;
    padding: 30px 120px;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    margin-bottom: 20px;
}

.footer-logo p {
    font-size: 16px;
    width: 150px;
    font-weight: 600;
}

.footer-location {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-location p {
    vertical-align: middle;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: -40px;
}

.footer-location svg {
    margin-right: 5px;
}

.footer-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-middle ul {
    margin-bottom: 20px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 60px;
    text-transform: uppercase;
}

footer a {
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
}

.footer-middle p {
    margin-top: 20px;
}

.footer-right {
    text-align: center;
    margin: auto 0;
    font-size: 16px;
}

.right-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.right-media img {
    width: 55px;
    margin-bottom: 10px;
}

@media screen and (width <= 1000px) {
    footer {
        padding: 30px 50px;
        display: grid;
        grid-template-areas:
            "left right"
            "bottom bottom";
        row-gap: 50px;
    }

    .footer-left {
        grid-area: left;
    }

    .footer-right {
        grid-area: right;
    }

    .footer-middle {
        grid-area: bottom;
    }
}

@media screen and (width <= 700px) {
    footer {
        padding: 15px 10px;
        display: grid;
        grid-template-areas:
            "left right"
            "bottom bottom";
        row-gap: 20px;
    }

    .footer-logo {
        justify-content: start;
    }

    .footer-logo img {
        margin-bottom: 10px;
        width: 50px;
    }

    .footer-logo p {
        font-size: 12px;
        width: 80px;
        font-weight: 600;
    }

    .footer-location {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer-location p {
        font-size: 12px;
        margin-left: 10px;
    }

    .footer-location svg {
        margin-right: 5px;
    }

    .footer-middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer-middle ul {
        margin-bottom: 10px;
    }

    .footer-middle ul {
        gap: 10px;
    }

    .footer-middle a {
        font-size: 12px;
    }

    .footer-middle p {
        margin-top: 0;
        font-size: 10px;
    }

    .footer-right {
        text-align: center;
        margin: auto 0;
        font-size: 12px;
    }

    .right-media {
        gap: 5px;
    }

    .right-media img {
        width: 30px;
        margin-bottom: 5px;
    }
}
