@import url("https://fonts.googleapis.com/css?family=Lato:700");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    -webkit-touch-callout: none;
    pointer-events: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

textarea {
    resize: vertical;
}

/* ------------- HERO SECTION ------------- */

.hero {
    display: flex;
    margin: 200px 0 60px 0;
}

.hero-left {
    width: 50%;
    padding-left: 120px;
}

.hero-image {
    margin-top: -120px;
}

.hero-left h1 {
    font-size: 50px;
    font-weight: bold;
}

.hero-left p {
    width: 600px;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0 50px 0;
}

.hero-right {
    margin: auto;
}

.hero-button {
    display: flex;
    align-items: center;
}
.hero-order-btn {
    background-color: #0045a2;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    width: 200px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hero-order-btn svg,
.card-button svg {
    margin-left: 10px;
}

.hero-produk-btn {
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 40px;
}

/* ------------- BENEFIT SECTION ------------- */
.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #0045a2;
    color: #ffffff;
    padding: 65px;
    scroll-margin-top: 85px;
}

.benefit h1,
.benefit p {
    width: 600px;
}

.benefit h1 {
    font-weight: bold;
    font-size: 50px;
}

.benefit p {
    font-size: 16px;
}

.benefit-list {
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
}

.benefit-item {
    width: 300px;
    margin-top: 60px;
}

.benefit-item-img-base {
    width: 300px;
    height: 160px;
    border-radius: 10px;
    background-color: #022f6a;
    box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 1);
}

.benefit-item img {
    width: 300px;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}

.benefit h3 {
    text-align: start;
    margin-top: 30px;
}

.benefit-item p {
    width: unset;
    text-align: start;
}

/* ------------- PRODUK SECTION ------------- */
.produk {
    margin: 80px 0;
    scroll-margin-top: 140px;
}

.produk h1 {
    font-size: 40px;
    font-weight: bold;
    color: #0045a2;
    text-align: center;
}

.kategori-wrap {
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    width: 87%;
    overflow-x: hidden;
}

.kategori-wrap svg {
    z-index: 1;
    position: absolute;
    top: 0;
    height: 100%;
    width: 30px;
    background-color: #ffffff;
    cursor: pointer;
    transition: ease 0.3s;
    border-radius: 5px;
}

.kategori-wrap svg:hover {
    background-color: #f0f0f0;
}

.kategori-wrap svg:first-child {
    left: 0;
}

.kategori-wrap svg:last-child {
    right: 0;
}

.kategori-wrap .inner-kategori {
    display: flex;
    gap: 20px;
    cursor: pointer;
    overflow-x: hidden;
    padding: 5px 5%;
    list-style: none;
}

.inner-kategori .kategori {
    z-index: 0;
    min-width: 33%;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    user-select: none;
    font-weight: bold;
    text-transform: capitalize;
    transition: ease-out 0.2s;
}

.kategori:hover {
    background-color: #0045a2;
    color: #ffffff;
}

.kategori.active {
    background-color: #0045a2;
    color: #ffffff;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 120px;
    justify-content: center;
}

.card-produk {
    border-radius: 25px;
    width: 320px;
    height: auto;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-desc {
    width: 100%;
    align-self: flex-start;
    height: 90px;
    margin: 10px 0;
}

.card-produk .card-harga {
    color: #0045a2;
    font-size: 20px;
}

.card-produk .card-nama {
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.card-produk img {
    width: 250px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.card-button {
    background-color: #0045a2;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* ------------- KONTAK SECTION ------------- */
.kontak {
    padding: 60px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-margin-top: 85px;
}

.kontak h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #0045a2;
}

.kontak-top {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 30px;
}

.kontak-top .top-nama,
.kontak-top .top-email {
    display: flex;
    flex-direction: column;
}

.kontak-top label,
.kontak-mid label,
.kontak-bottom label {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}

.kontak-top input {
    border: 2px solid #0045a2;
    border-radius: 10px;
    width: 500px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
}

.kontak-mid,
.kontak-bottom {
    display: flex;
    flex-direction: column;
    width: 1060px;
    margin: 0 auto;
    margin-top: 30px;
}

.kontak-mid input {
    border: 2px solid #0045a2;
    border-radius: 10px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
}

.kontak-bottom textarea {
    border: 2px solid #0045a2;
    border-radius: 10px;
    height: 150px;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
}

.kontak button {
    background-color: #0045a2;
    border: none;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 30px;
    width: 130px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

.paginate {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.prev.disabled,
.next.disabled {
    cursor: not-allowed;
    color: #000;
    background: #eee;
}

.prev.disabled:active,
.next.disabled:active {
    cursor: not-allowed;
    color: #000;
    background: #eee;
    border: 1px #dddddd solid;
}

.pagination {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 10px;
}
.pagination li {
    display: inline;
    text-align: center;
}
.pagination a {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #fff;
    margin-left: -1px;
    border: 1px solid transparent;
    line-height: 1.5;
}
.pagination a.active {
    cursor: default;
}
.pagination a:active {
    outline: none;
}

.modal-1 li:first-child a {
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px 0 0 6px;
}
.modal-1 li:last-child a {
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0;
    border-radius: 0 6px 6px 0;
}
.modal-1 a {
    border-color: #ddd;
    color: #0045a2;
    background: #fff;
}
.modal-1 a:hover {
    background: #eee;
}
.modal-1 a.active,
.modal-1 a:active {
    border-color: #0045a2;
    background: #0045a2;
    color: #fff;
}

@media screen and (width <= 1200px) {
    .hero-left p {
        width: 450px;
    }

    .card-container {
        padding: 0 30px;
    }
}

@media screen and (width <= 1000px) {
    .hero {
        flex-direction: column-reverse;
        margin-bottom: 100px;
    }

    .hero-image {
        width: 400px;
    }

    .hero-left {
        width: unset;
        padding: 0 50px;
    }

    .hero-left p {
        width: unset;
    }

    .hero-left h1,
    .benefit h1 {
        font-size: 40px;
    }

    .benefit {
        padding: 50px;
    }

    .benefit-list {
        flex-direction: column;
        gap: 0;
    }

    .benefit p,
    .benefit h3 {
        margin-top: 10px;
        text-align: center;
    }

    .inner-kategori .kategori {
        font-size: 16px;
    }

    .produk hr {
        margin-bottom: 30px !important;
    }

    .card-produk {
        width: 250px;
        padding: 20px 25px;
    }

    .card-produk img {
        width: 180px;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
    }

    .card-container {
        gap: 20px;
    }

    .kontak {
        padding: 0 50px;
        padding-bottom: 60px;
    }

    .kontak-top {
        gap: 30px;
        width: 100%;
    }

    .kontak-top input {
        width: unset;
    }

    .kontak-top .top-nama,
    .kontak-top .top-email {
        width: 50%;
    }

    .kontak-mid,
    .kontak-bottom {
        width: 100%;
    }

    .kontak button {
        margin-top: 50px;
    }
}

@media screen and (width <= 700px) {
    .hero {
        margin-bottom: 60px;
    }

    .hero-left {
        padding: 0 15px;
    }

    .hero-left h1,
    .benefit h1,
    .produk h1,
    .kontak h1 {
        font-size: 24px;
    }

    .hero-left p {
        font-size: 12px;
        text-align: justify;
        margin: 10px 0 30px 0;
    }

    .hero-order-btn,
    .hero-produk-btn {
        font-size: 12px;
    }

    .hero-order-btn {
        width: 160px;
    }

    .hero-order-btn svg {
        margin-left: 5px;
        width: 20px;
    }

    .benefit {
        padding: 50px 15px;
    }

    .benefit p {
        font-size: 12px;
    }

    .benefit h1,
    .benefit p {
        width: unset;
    }

    .produk {
        margin: 60px 0;
    }

    .kategori-wrap {
        margin-top: 30px;
    }

    .inner-kategori .kategori {
        min-width: 50%;
    }

    .card-container {
        gap: 15px;
        padding: 0 15px;
    }

    .card-produk {
        width: 150px;
        padding: 10px 15px 15px;
    }

    .card-desc {
        height: 65px;
    }

    .card-produk .card-nama {
        font-size: 12px;
    }

    .card-produk .card-harga {
        font-size: 16px;
    }

    .card-produk img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }

    .card-button {
        height: 30px;
        font-size: 12px;
    }

    .kontak {
        padding: 0 15px;
        padding-bottom: 60px;
    }

    .kontak-top {
        flex-direction: column;
        width: 100%;
    }

    .kontak-top .top-nama,
    .kontak-top .top-email {
        width: unset;
    }

    .kontak label,
    .kontak input,
    .kontak textarea {
        font-size: 12px;
    }

    .kontak button {
        margin-top: 30px;
        font-size: 12px;
        width: 110px;
        height: 35px;
    }

    .paginate {
        margin-bottom: 30px;
    }
}

@media screen and (width <= 350px) {
    .hero-image {
        width: 300px;
    }

    .benefit-item,
    .benefit-item-img-base,
    .benefit-item img {
        width: 100%;
    }

    .card-produk {
        width: 120px;
        padding: 6px 12px 12px;
        border-radius: 10px;
    }

    .card-produk img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }

    .card-produk .card-nama {
        font-size: 10px;
    }

    .card-produk .card-harga {
        font-size: 12px;
    }

    .card-desc {
        height: 50px;
    }

    .card-button {
        height: 25px;
        font-size: 10px;
    }
}
